{% extends 'base.html.twig' %}
    {% block contener %}
        {{ parent() }}
        <article class="box post post-excerp">
            <header>
                {% block h1 %}
                    <button> <a href="{{ path('parametre_utilisateur') }}">Modifier un utilisateur</button>
                {% endblock %}
            </header>
        </article>
    {% endblock %}
