{% extends 'base.html.twig' %}
    {% block body %}
        {{ parent() }}
        {% block h1 %}
            <button> <a href="{{ path('parametre_utilisateur') }}">Modifier un utilisateur</button>
        {% endblock %}
    {% endblock %}
