<h1> Votre personnage joueur a été inscrit </h1>

Votre personnage {{personnage}} a été inscrit de la session {{session.scenario.nom}} en date du {{ session.dateDebut ? session.dateDebut|date('d-m-Y H:i:s') : '' }}.
