<h1> vous souhaitez nous quitter {{ name }}!</h1>
    <p> Les orques vont détruires votre profil! </p>
    <p> j'espère que vous avez apprécier notre site</p>
</p> si vous changer d'avis, c'est par <a href="{{ url }}">ici</a> </
